/* css file of calculator html file */

h1 {  /* heading tag in html*/
    text-align: center;  
    padding: 20px;  
    
    color: skyblue;  
    }  
  
  
  #back{ /* back id name in html*/
    width: 110px; 
  }
.formstyle  /* formstyle class in html*/
{  
width: 350px;  
height: 640px;  
margin: auto;  
border: 3px solid skyblue;  
border-radius: 5px;  
padding: 10px;  
}  
  
 .operator{/* operator class in html*/
  background-color: rgb(168, 168, 246);  
  color: rgb(25, 0, 249); 
 } 
  
input  /* all input in html*/
{  
width: 70px;  
background-color: rgb(226, 233, 226);  
color: rgb(29, 25, 25);  
border: 3px solid gray;  
    border-radius: 5px;  
    padding: 25px;  
    margin: 5px;  
  font-size: 25px;
  
}  
  #operator{/* operator id in html*/
    background-color: rgb(17, 17, 236);  
    color: white; 
  }
  
#calc{  /* calc id in html*/
width: 350px;  
border: 5px solid  skyblue;  
    border-radius: 3px;  
    padding: 20px;  
    margin: auto;  
}   
